.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    img {
      max-width: 25px;
      align-self: center;
     
      border-radius: 20px;
    }
  
    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out;
    }
  
    a:hover {
      transform: scale(1.05);
    }
  }
  
  .edContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  @media (width >= 400px) {
    .edContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    padding-right: 10px;
    }
    
  }
  @media (width >= 300px) {
    .edContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    padding-left: 5px;
    }
    
  }
  
  @media (width >= 767px) {
    .edContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
        
    }
    
  }
  @media (width >= 1000px) {
    .edContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
        padding-left: 10px;
        margin-left: 50px;
        padding-right: 50px;
        
    }
    
  }
  @media (width >= 1400px) {
    .edContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: left;
      padding-left: 10px;
      margin-left: 50px;
    }
    
  }
  